html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}
div.hr {
    margin:0 0 7px 0;
}
#header h1 a {
    height: 24px;/*from 20*/
    width: 170px;/*from 136*/
}
ul.social li a {float: left}
#dropdown-holder-bg {
	left: 0;
}
.dropdown-holder div.tertiary-nav img.btm {
	top: -15px;
}
