#careers-advanced-search h1 {
  font-size: 17px;
  text-transform: uppercase;
  color: #494949;
  font-weight: normal;
  margin: 15px 35px;
}

#careers-advanced-search {
    color: #333;
}

#careers-advanced-search #results {
}

#careers-advanced-search label.kenexa-label {
	width:120px;
	display:inline-block;
	text-align: right;
	padding-right:10px;
	margin-bottom:5px;			
}
#careers-advanced-search h3 {
	font-size: 16px;
	color: #900;
}
#careers-advanced-search label {
	width: 120px;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
	margin-bottom: 5px;
}
#careers-advanced-search #ajax-loader {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
}
#careers-advanced-search .loc-select {
	width: 120px;
}


#careers-advanced-search #search-history {
    margin-top:10px;
    display:table-cell;
    padding:5px;
    border:1px solid #aaa;
}

#careers-advanced-search #skin-inputs-wrap {
    width:100%;
    display:table;
    border:2px solid #eee;
    border-bottom:2px solid #aaa;

    /*padding: 0px 30px 0px 30px;*/
    background: #dfdfdf; /* Old browsers */
    background: -moz-linear-gradient(top,  #dfdfdf 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dfdfdf 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dfdfdf 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dfdfdf 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(top,  #dfdfdf 0%,#f7f7f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */

}
/* Set initial width of selects. Will be copied to multiselect. */
#careers-advanced-search #skin-inputs-wrap select {
  width:266px;  
}

#careers-advanced-search .skin-inputs-third {
  display:table-cell;
  padding: 10px 10px 10px 10px;
  text-align: center;
  vertical-align: top;
}
/* Apply left margin to left-hand inputs block */
#careers-advanced-search .skin-inputs-third.first {
    padding-left:30px;
}


/* Multiselect inputs */
input#keyword, input#date-input, #ajaxSubmit,
#careers-advanced-search  .ui-multiselect {
    clear:both;
    margin-bottom:15px;
    margin-top:5px;
    display:block;
    font-size:11px;
    border-radius: 15px;
    padding-left:18px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:3px;
    border:1px solid #aaa;
    /*background-color:#ccc;*/
    background-image:none;

}
#careers-advanced-search #skin-inputs-wrap .ui-multiselect,
#careers-advanced-search #skin-inputs-wrap .ui-state-hover {
  color: #000;
}
#careers-advanced-search #skin-inputs-wrap .ui-multiselect {
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #dfdfdf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 0%,#dfdfdf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#dfdfdf 100%); /* IE10+ */
    background: linear-gradient(top,  #f7f7f7 0%,#dfdfdf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */

}

input#keyword, input#date-input {
  background-color:#fff;
  width:224px;
  padding-top: 2px;
  padding-bottom:2px;
  height:20px;
}
#careers-advanced-search .skin-inputs-third #ajaxSubmit:hover,
#careers-advanced-search .skin-inputs-third #ajaxSubmit.hover {
    background: -moz-linear-gradient(top,  #000 0%, #484848 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left 484848, color-stop(0%,#000), color-stop(100%,#484848)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #000 0%,#484848 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #000 0%,#484848 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #000 0%,#484848 100%); /* IE10+ */
    background: linear-gradient(top,  #000 0%,#484848 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#484848',GradientType=0 ); /* IE6-9 */    
}

#careers-advanced-search .skin-inputs-third #ajaxSubmit {
    height:24px;
    float:right;
    width:76px; 
    padding:0px 10px;
    font-size:10px;
    font-weight:bold;
    color:#fff;
    border:none;
    margin-right: 32px;
    background: #000; /* Old browsers */
    background: -moz-linear-gradient(top,  #484848 0%, #000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#484848), color-stop(100%,#000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #484848 0%,#000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #484848 0%,#000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #484848 0%,#000 100%); /* IE10+ */
    background: linear-gradient(top,  #484848 0%,#000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#000',GradientType=0 ); /* IE6-9 */    
}

#careers-advanced-search .ui-multiselect-menu {
  font-size:11px;
}
#careers-advanced-search .inputs-wrap {
  width:266px;
}

/* CSS for the search results table */
#careers-advanced-search #results-table {
  border-collapse: collapse;
}
#careers-advanced-search #results-table td {
  border-right:1px solid #bbb;
  padding:20px 10px;
  color: #676767;
  line-height: 1.2em;
  /* bg colour for even lines  */
  background-color:#fff;
}
#careers-advanced-search #results-table td.title {
  width: 300px;
  padding: 0 15px 0 20px;
  xbackground: url(../images/bg_table_rail.jpg) no-repeat 0 0 transparent;
  border-left: 23px solid #fff;
}
#careers-advanced-search #results-table td.title a .arrow {
  background: url(../images/collapse_arrows.png) no-repeat 0 0 transparent;
  width: 18px;
  height: 18px;
  display: inline-block;
  overflow: hidden;
  float:left;
  margin-right: 5px;
}
#careers-advanced-search #results-table td.title a.expanded .arrow {
  background-position: 0 -18px;
}

#careers-advanced-search #results-table td.location {
  padding-right: 25px;
  width: 115px;
}
#careers-advanced-search #results-table td.division {
  width: 90px;
}
#careers-advanced-search #results-table td.industry {
  width: 160px;
  padding-right: 25px;
}
#careers-advanced-search #results-table td.type {
  width: 90px;
}

#careers-advanced-search #results-table td.req {
  width: 80px;
}
#careers-advanced-search #results-table td.updated,
#careers-advanced-search #results-table td.last {
  width: 110px;
  xbackground: url(../images/bg_table_rail.jpg) no-repeat right 0 transparent;
  border-right: 23px solid #fff !important;  

  border-right:none;
  white-space:nowrap; /* don't wrap date */
}
/* bg colour for odd lines  */
#careers-advanced-search #results table td.odd {
  background-color:#dcedfa;
}
#careers-advanced-search #results-table th {
  padding:10px;
  border-right: 1px solid #BBB;
  color: #494949;
  font-size: 1.1em;
  text-align: center;
}

#careers-advanced-search #results-table tr.header {
  background: url(../images/bg_table_header.jpg) repeat-x 0 0 transparent;
  height: 39px;
}
#careers-advanced-search #results-table th#title {
  background: url(../images/bg_table_header_left.jpg) no-repeat 0 0 transparent;
}
#careers-advanced-search #results-table th#date {
  background: url(../images/bg_table_header_right.jpg) no-repeat right 0 transparent;
  border-right: 0;  
}
#careers-advanced-search #results-table a {
  color:#0079de;
  text-decoration: underline;
}

#careers-advanced-search #results-table td.details-cell {
  display: none;
  border-left: 23px solid #fff;
  border-right: 23px solid #fff;
  padding: 15px 35px 20px;
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #fafafa 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fafafa 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fafafa 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(top,  #fafafa 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
  font-size: .95em;
  line-height: 1.3em;
}

#careers-advanced-search #results-table td.details-cell .view-full {
 margin-top: 15px;
}
#careers-advanced-search #results-table td.details-cell .view-full a {
  font-size: 1em;
  text-decoration: none !important; 
}
#careers-advanced-search #results-table td.details-cell .view-full a:hover {
  text-decoration: underline !important; 
}

#careers-advanced-search th.sort-on-this {
    text-decoration:none;

}
#careers-advanced-search th.sort-on-this span.sort-arrow {
    background: transparent url(custom-theme/images/ui-icons_454545_256x240.png) no-repeat right center;
    margin-left: 3px;
    background-position:-64px 4px;
    width:16px;
    height:16px;
    display: inline-block;
}

#careers-advanced-search th.hover-effect {
  cursor:pointer;
}

/* Search stats row */
#careers-advanced-search #search-stats {
}
#careers-advanced-search #search-stats .page-info,
#careers-advanced-search #search-stats .results-count {
	margin: 15px 0 20px;
}
#careers-advanced-search #search-stats .page-info {
  margin-right: 35px;
}
#careers-advanced-search #search-stats .results-count {
  margin-left: 35px;
}
#careers-advanced-search #search-stats .results-count { float: left; color: #1182e0; }
#careers-advanced-search #search-stats .page-info { float: right; }
#careers-advanced-search #search-stats .page-link {
	color: #0076E3;
	cursor:pointer;
	display:inline;
	margin-right: 5px;
}
#careers-advanced-search #search-stats .page-link-current,
#careers-advanced-search #search-stats .page-link:hover {
	text-decoration: underline;
}

.content-width {
  width: 980px;
  margin: 0 auto;
}
#careers-advanced-search #searchForm {
  position: relative;
}
#careers-advanced-search #searchForm .infieldwrap {
    position: relative;
}
#careers-advanced-search #searchForm label.infield {
  position:absolute; top:0; left:0;
  font-weight: normal;
  color: #b6b6b6;
  line-height: 24px;
  padding-left: 10px;
  font-size: 12px;
  float: none;
  text-align:left;
  margin:0;
  padding:0;
  display: none;
}
#careers-advanced-search #searchForm select {
   display:none;
}
#careers-advanced-search #search-results-footer {
  font-size: .9em;
  margin: 30px 0 10px;
  line-height: 1.3em;
  padding: 0 13px;
}
#careers-advanced-search #search-results-footer .left {
  width: 700px;
  float: left;
} 
#careers-advanced-search #search-results-footer .right {
  float: right;
  text-align: right;
}

#search-diff-language-links {
  
}
#search-diff-language-links li {
  list-style: none;
  text-align: left;
  font-size: .9em;
}

a.keyword-help-button {
  display: inline-block;
  float: right;
  background: url(../images/question_mark.png) no-repeat 0 0 transparent;
  width: 15px;
  height: 15px;
}
/* labels next to the date search radio button options */
#careers-advanced-search .date-label {   
    display:inline;
    position:relative;
    top:1px;
    font-weight:normal;
}
/* move the date options up a bit */
#date-options-wrap {
    position:relative;
    top:-5px;
    font-size:12px;
}
/* div wraps around date options and labels */
#date-options-wrap .date-radio-wrap {
    text-align:left;
    height:22px;
    position: relative;
}

input#date-select-option1, input#date-select-option2 {
    width:28px;
    display:inline;
}
/* the visible date input */
input#date-input {
    position:absolute;left:210px;top:-9px;width:80px;
}
/* "date posted"  text */
#date-posted {	
	text-align:left;
	float:left;
	position:relative;
	top:15px
}
/* wrapper around date radios and labels only */
#date-radios-wrap {
	text-align:left;
	float:left;
	position:relative;
	top:2px
}


#clear-button {
	
	position:relative;
	left:132px;
	top:32px;
	font-size:12px;
	color:#888;
	cursor:pointer;
	display:inline;	
}