/*
General
*/
.content-holder h1 {
	color: #e8e8e8;
	display: block;
    width: 980px;
    margin: 0 auto;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: .1em;
	position: relative;
	top: -360px;
}

#breadcrumb {
  width: 980px;
  margin: 12px auto 0
}
.content-holder {
	width:100%;
	background:url('../carousel/images/bg_carousel.jpg') repeat-x center 28px #fff;
	position:relative;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.content-width {
  width: 980px;
  margin: 0 auto;
}
/*
Boxes
*/
.search-and-login {
  background: url(../images/bg_search_login.jpg) no-repeat 0 0 transparent;
  width: 980px;
  height: 63px;
  margin-top:13px;
  position: relative;
    font-size: 12px;
}
.search-form {
  position: relative;
  float: left;
  margin-right: 15px;
}
.search-form label {
  position:absolute; top:0; left:0;
  font-weight: normal;
  color: #b6b6b6;
  line-height: 24px;
  padding-left: 10px;
  font-size: 12px;

}
.search-form input {
  margin: 0;
  height:22px;
  padding-left: 8px;
  width:200px;
  font-size: 12px;
  margin-right: 15px;
}
.search-and-login .search {
  width: 692px;
  height: 50px;
  float:left;
  margin-top: 7px;
  border-right: 1px solid #cfcfcf;
}
.search-and-login .search .inner {
  height: 30px;
  padding-left: 230px;
  margin-top:12px;
}
.search-and-login .login {
  float: left;
  width:285px;
  margin-top: 7px;
  color: #777777;
}
.search-and-login .login a,
.search-and-login .login a:visited,
.search-and-login .login a:active {
  color: #0056b4;
}
.search-and-login .login button {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.search-and-login .login .inner {
  margin-top: 12px;
  height: 30px;
}
.third-width-box {
  width: 317px;
  height: 130px;
  margin: 26px 7px 15px;
  float: left;
	position: relative;
	border: 0; 
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
}
.third-width-box-first {
  background: url(../images/bg_why_tw.jpg) no-repeat 0 0 transparent;
  margin-left: 0;
}
.third-width-box-center {
  background: url(../images/bg_job_spotlight.jpg) no-repeat 0 0 transparent;
}
.third-width-box-last {
  background: url(../images/bg_stay_connected.jpg) no-repeat 0 0 transparent;
  margin-right: 0;
}
.third-width-box .inner {
  text-align: left;
  padding: 50px 20px 0;
  font-size: 13px;
  color: #656565;
  height: 130px;
  line-height: 1.6em;
}
.third-width-box-first .inner {
  padding-top: 41px;
}
.third-width-box .blue-highlight {
  color: #0056b4;
  font-size: 13.5px;
  line-height: 2em;
}
.third-width-box img.connect-button {
  float: left;
  margin-right: 16px;
}
/*
Search and Login Buttons
*/
.search-and-login button { 
	position: relative;
	border: 0; 
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
	padding: 0 15px 0 0; 
	font-size:2em; 
	text-align: center;
	background-position: right -46px;	
	background-color: transparent; 
	height: 23px;

}

.search-and-login button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}

.search-and-login button span { 
	position: relative;
	display: block; 
	white-space: nowrap;	
	padding: 0px 0 0 15px; 
	height:23px; 
	font-size: 12px;
	line-height: 22px; 
	background-position: left top;
}
.search-and-login button:hover,.search-and-login  button.hover {
	background-position: right -69px !important; 
}
	
.search-and-login button:hover span, .search-and-login button.hover span {
	background-position: 0 -23px !important;
}

.search-and-login @media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button span {
		margin-top: -1px;
	}
}


.search-and-login button.blue { background-image: url(../images/buttons/blue.png); }
.search-and-login button.blue span { background-image: url(../images/buttons/blue.png); color:#e8e8e8; }
.search-and-login button.blue a, .search-and-login button.blue a:hover, .search-and-login button.blue a:visited { color:#e8e8e8 !important; text-decoration: none; } 
.search-and-login button.black { background-image: url(../images/buttons/black.png); }
.search-and-login button.black span { background-image: url(../images/buttons/black.png); color:#e8e8e8; }
.search-and-login button.grey { background-image: url(../images/buttons/grey.png); }
.search-and-login button.grey span { background-image: url(../images/buttons/grey.png); color:#333; }
	
	

